/* botones.css */
/* Botón + (verde) */
div.stNumberInput > div > div > button {
    background-color: green !important;
    color: white !important;
    font-size: 20px !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
}

/* Botón - (azul) */
div.stNumberInput > div > div > button:last-child {
    background-color: blue !important;
    color: white !important;
    font-size: 20px !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
}